@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --primary-color: #058ad7;
  --heading-color: #132742;
  --bg-gradient: linear-gradient(
    90deg,
    rgb(56, 53, 220) 27%,
    rgb(141, 187, 235)
  );
  --font-name: "Questrial", sans-serif;

  /* 
        #9785f2
        #b5a9f3
        #d3cef2
        #d7337a
    */
}


/* reset defult browser style*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font: var(--font-name);
}



section{
  padding: 50px 0px;
}

a{
  text-decoration: none;
  color: unset;
}

a:hover{
  color: unset;
}

ul{
  list-style: none;
}

/*  reusable class */
.container {
  width: 1140px;
  padding:  0px 15px ;
  margin: auto;
}

.section__title{
  color: var(--heading-color);
  font-weight: 700;
}